extends ../layout

block content
    a(href='/bicicletas') Volver
    h1 Modificar Bicicleta
    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(for='code') ID: 
        input#code(type='text' name='code' value=bici.code)
        label(for='color') Color: 
        input#color(type='text' name='color' value=bici.color)
        label(for='modelo') Modelo: 
        input#modelo(type='text' name='modelo' value=bici.modelo)
        label(for='lat') Latitud: 
        input#lat(type='text' name='lat' value=bici.ubicacion[0])
        label(for='lng') Longitud: 
        input#lng(type='text' name='lng' value=bici.ubicacion[1])
        input.btn(type='submit' value='OK')